.adidas-layout{
    div{
        width: 400px;
        height: 320px;

        &:nth-child(3){
            height:267px;
        }

        @media(max-width: 480px){
            width: 300px;
            height: 240px;

            &:nth-child(3){
                height:200px;
            }
        }

    }
}

.bag{
    div:nth-child(2){
        height:272px;
    }
    @media(max-width: 480px){
        div:nth-child(2){
            height:204px;
        }
    }
}

.big-box{
    height: 492px;
    div{
        &:nth-child(1){
            height:356px;
        }

        &:nth-child(2){
            height:492px;
        }
    }
    @media(max-width: 929px){
        height: fit-content;
    }

    @media(max-width: 480px){
        div{
            &:nth-child(1){
                height:267px;
            }

            &:nth-child(2){
                height:369px;
            }
        }
    }
}

.small-box{
    height: 580px;
    div{
        &:nth-child(1){
            height:580px;
        }

        &:nth-child(2){
            height:580px;
        }
    }

    @media(max-width: 929px){
        height: fit-content;
    }

    @media(max-width: 480px){
        div{
            &:nth-child(1){
                height:435px;
            }

            &:nth-child(2){
                height:435px;
            }
        }
    }
    
}