/* COLORS */
$navy-blue: #001959;
$light-blue: #80B7E6;
$light-teal: #DFF5EF;
$dark-teal: #97CABB;
$text: #323232;
$image-border: #dddddd;

/* FONT SIZES */
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$body-font-size: 20px;
$caption-font-size: 18px;
$button-font-size: 18px;

/* FONT FAMILIES */
$extraWide-font: proxima-nova-extra-wide, sans-serif;
$normal-font: proxima-nova, sans-serif;

/* FONT WEIGHTS */
$bold-font: 700;
$semiBold-font: 500;
$normal: 400;